/*! ********* GENERAL ********* */

:root {
  --black: #000;
  --opacity-black: rgba(0, 0, 0, 0.2);
  --blue: #0065FC;
  --gray: #F2F2F2;
  --sky: #DEEBFF;
  --white: #FFF;
}

* {
  font-family: Raleway, sans-serif;
}

main,
form,
nav ul,
header > p,
.filters ul,
.filters button,
.popular header,
.popular .card {
  display: flex;
}

nav,
hgroup,
footer,
footer section,
footer ul,
body > header,
.filters,
.popular,
.popular ul,
.popular figcaption,
[id=accommodation],
[id=accommodation] ul,
[id=accommodation] figcaption,
[id=activities],
[id=activities] ul {
  display: flex;
  flex-flow: column;
}

body,
h1,
h2,
h3,
ul,
figure,
p {
  margin: 0;
}

body > header,
.popular,
[id=accommodation],
[id=activities] {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
}

main h2,
[id=activities] h2 {
  font-size: 1.35rem;
}

ul,
button {
  padding: 0;
}

h1 {
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: 700;
}

.fa-solid {
  color: var(--blue);
}

/*! ********* NAV ********* */

nav {
  place-items: center;
  height: 115px;
  text-align: center;

  img {
    padding: 30px;
    width: 61px;
  }

  ul {
    width: 100%;
  }

  li {
    width: 50%;
  }

  a {
    display: inline-block;
    border-bottom: solid 2px var(--gray);
    padding-bottom: 15px;
    width: 100%;

    &:hover,
    &:focus {
      border-color: var(--blue);
      color: var(--blue);
    }
  }
}

/*! ********* MAIN ********* */

main {
  flex-flow: column-reverse;
  gap: 30px;

  h3 {
    font-size: 16px;
  }

  img {
    object-fit: cover;
  }

  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

  .gray {
    color: var(--gray)
  }
}

/*! ********* HEADER ********* */

body {
  & > header {
    gap: 35px;
  
    hgroup {
      gap: 8px;
    }
  
    p {
      align-items: center;
      gap: 10px;
    }
  
    .fa-info {
      border: solid 1px var(--gray);
      border-radius: 50%;
      padding: 8px;
      width: 4px;
      height: 4px;
    }
  
    i {
      font-style: normal;
    }
  }
}

/*! ********* FORM ********* */

form {
  place-content: stretch;
  height: 49px;

  .fa-location-dot {
    border-radius: 15px 0 0 15px;
    padding: 15px 18px;
    width: 13px;
    background-color: var(--gray);
    color: var(--black);
  }

  input {
    border: solid 1px var(--gray);
    outline: none;
    padding: 15px;
    width: calc(100% - 85px);
    font-weight: bold;
  }

  .fa-magnifying-glass {
    margin-left: -13px;
    border-radius: 15px;
    padding: 18px;
    width: 13px;
    height: 13px;
    background-color: var(--blue);
    color: var(--white);
  }
}

/*! ********* FILTERS ********* */

.filters {
  gap: 10px;

  h2 {
    font-size: 1.1rem;
  }

  ul {
    flex-flow: row wrap;
    gap: 10px;
  }

  li {
    box-sizing: border-box;
    width: calc((100% - 10px) / 2);
  }

  button {
    align-items: center;
    gap: 5px;
    border: solid 2px var(--gray);
    border-radius: 25px;
    padding: 10px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: var(--sky);
    }
  }
}

/*! ********* ACCOMMODATION ********* */

[id=accommodation] {
  gap: 15px;

  ul {
    gap: 15px;
  }

  figure {
    border-radius: 20px;
  }

  img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 124px;
  }

  figcaption {
    gap: 8px;
    padding: 5px 15px;
  }
}

/*! ********* POPULAR ********* */

.popular {
  gap: 15px;
  width: 100%;
  background-color: var(--gray);

  header {
    justify-content: space-between;
    align-items: center;
  }

  ul {
    gap: 15px;
  }

  a {
    width: 30%;
  }

  img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  figcaption {
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
    width: 67%;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 0.9rem;
  }

  p {
    margin: 0;
    font-size: 13px;
  }

  .rating {
    position: absolute;
    bottom: 5px;
  }
}

/*! ********* ACTIVITIES ********* */

[id=activities] {
  gap: 30px;

  ul {
    gap: 15px;
  }

  figure {
    border-radius: 20px;
    box-shadow: 0 3px 15px var(--opacity-black);
  }

  img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 141px;
  }

  figcaption {
    padding: 20px;
    font-weight: bold;
  }
}

/*! ********* FOOTER ********* */

footer {
  gap: 50px;
  margin-top: 35px;
  padding: 30px;
  background-color: var(--gray);

  section {
    gap: 25px;
  }

  ul {
    gap: 15px;
  }
}

/*! ********* RESPONSIVE ********* */

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  [id=accommodation] {
    width: 65%;
  }

  .popular {
    width: 32%;
  }
}